In [111]:
import pandas as pd
import os

In [112]:
# Seleccionar que años se van a tomar en cuenta, discutir esto
years = [str(i) for i in range(1991, 2024)]

datasets = []
for year in years:
    path = os.path.join("dataRaw", "atp_matches_" + year)
    dset = pd.read_csv(path + ".csv")
    datasets.append(dset)

In [113]:
df = pd.concat(datasets)
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,NaN,NaN,...,62.0,44.0,23.0,16.0,6.0,8.0,56.0,NaN,2.0,NaN
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,NaN,Q,...,41.0,35.0,27.0,15.0,1.0,2.0,304.0,NaN,75.0,NaN
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,NaN,NaN,...,37.0,22.0,6.0,8.0,4.0,8.0,82.0,NaN,69.0,NaN
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,8.0,NaN,...,45.0,30.0,11.0,10.0,5.0,8.0,50.0,NaN,84.0,NaN
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,NaN,NaN,...,41.0,28.0,15.0,11.0,4.0,8.0,88.0,NaN,28.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2981,2023-M-DC-2023-WG2-PO-RSA-LUX-01,Davis Cup WG2 PO: RSA vs LUX,NaN,4,D,20230204,5,202335,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1717.0,1.0
2982,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,NaN,4,D,20230203,1,117365,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,990.0,11.0,279.0,190.0
2983,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,NaN,4,D,20230203,2,121411,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,364.0,131.0,894.0,15.0
2984,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,NaN,4,D,20230203,4,144949,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,894.0,15.0,285.0,184.0
2985,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,NaN,4,D,20230203,5,121411,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,364.0,131.0,990.0,11.0

In [114]:
# Selección de features
df.isnull().sum()/len(df)

tourney_id            0.000000
tourney_name          0.000000
surface               0.000503
draw_size             0.000000
tourney_level         0.000000
tourney_date          0.000000
match_num             0.000000
winner_id             0.000000
winner_seed           0.595058
winner_entry          0.877549
winner_name           0.000000
winner_hand           0.000066
winner_ht             0.023989
winner_ioc            0.000000
winner_age            0.000057
loser_id              0.000000
loser_seed            0.777291
loser_entry           0.798640
loser_name            0.000000
loser_hand            0.000399
loser_ht              0.047066
loser_ioc             0.000000
loser_age             0.000199
score                 0.000000
best_of               0.000000
round                 0.000000
minutes               0.123800
w_ace                 0.097484
w_df                  0.097484
w_svpt                0.097484
w_1stIn               0.097484
w_1stWon              0.097484
w_2ndWon              0.097484
w_SvGms               0.097475
w_bpSaved             0.097484
w_bpFaced             0.097484
l_ace                 0.097484
l_df                  0.097484
l_svpt                0.097484
l_1stIn               0.097484
l_1stWon              0.097484
l_2ndWon              0.097484
l_SvGms               0.097475
l_bpSaved             0.097484
l_bpFaced             0.097484
winner_rank           0.011377
winner_rank_points    0.020760
loser_rank            0.024160
loser_rank_points     0.033495
dtype: float64

In [115]:
# Definir técnicas para rellenar datos, pero manteniendo una versión con datos clean.

In [117]:
# Viendo el año, podemos construir un set de testing, el siguiente número es el procentaje
# del tamaño del testing en comparación al total.

len(df[df["tourney_date"] >= 20160101])/len(df)

0.2056334817994473

In [ ]:
# Generador del set de train/testing
date = 20160101 #yyyymmdd

train = df[df["tourney_date"] < date]
test = df[df["tourney_date"] >= date]

train.to_csv("train.csv")
test.to_csv("test.csv")

### Que hacer para el avance 

- Decidir un espacio de tiempo, junto a que features a utilizar y como tratar los datos faltantes.
- Tratar features cualitativos.
- Detección de features altamente correlacionados.
- Detección de outliers.
- Definición del set de testeo, por posible problema de dependencia temporal.
- Selección de modelos de clasificación a probar para predicción de resultados.